:root {
    --color-light: rgb(255 247 236);
    --color-dark: rgb(198 198 198);
    --color-move-source: rgba(255, 217, 217, 1);
    --piece-scale: .8;
}

.chessboard {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.chessboard > * {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: calc(100% / 8);
    max-height: calc(100% / 8);
}

.chessboard > * > * {
    content: '';
    display: block;
    color: transparent;
}

.chessboard > :nth-child(even) > :nth-child(odd),
.chessboard > :nth-child(odd) > :nth-child(even) {
    background-color: var(--color-dark);
}

.chessboard > :nth-child(even) > :nth-child(even),
.chessboard > :nth-child(odd) > :nth-child(odd) {
    background-color: var(--color-light);
}

.chessboard > * > * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
    min-height: 100%;
    aspect-ratio: 1/1;
}

.scaled {
    transform: scale(var(--piece-scale));
    position: relative;
}

.move-source {
    background-color: var(--color-move-source) !important;
}

.chessboard > * > * {
    position: relative;
}

/* Extra sizes */

.w-1\/8 {
    width: 12.5%;
}

.h-1\/8 {
    height: 12.5%;
}

/* Left alignment */
.left-1\/8 {
    left: 12.5%
}

.left-2\/8 {
    left: 25%
}

.left-3\/8 {
    left: 37.5%
}

.left-4\/8 {
    left: 50%
}

.left-5\/8 {
    left: 62.5%
}

.left-6\/8 {
    left: 75%
}

.left-7\/8 {
    left: 87.5%
}